/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  .feature-area .feature-area-wrapper {
    width: 90%;
  }
  .single-feature-item,
  .twis-items .single-feature-item {
    width: auto;
  }
  .feature-items-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/*  MD Tablet desktop. */
@media (min-width: 650px) and (max-width: 991px) {
  .feature-area .feature-area-wrapper {
    width: 90%;
  }
  .single-feature-item,
  .twis-items .single-feature-item {
    width: auto;
  }
  .feature-items-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .single-feature-item .feature-icon {
    text-align: center;
  }
}

/* Mobile. */
@media (max-width: 649px) {
  .feature-area .feature-area-wrapper {
    width: 85%;
  }
  .feature-area .feature-area-wrapper .feature-area-text {
    width: auto;
  }
  .feature-items-wrapper {
    flex-direction: column;
  }
  .feature-area .feature-area-wrapper .feature-area-text .title {
    font-size: 24px;
  }
  .feature-area .feature-area-wrapper .feature-area-text .sponser {
    font-size: 23px;
  }
}
