/*!
 * Name : Feature Section
 * Version: 1.0.0
 * Author: Sajeeb Debnath
 * Author URL: fb.me/sajeebdebnath.cse
 * Github: https://github.com/sajeebdebnath
 * Sajeeb Debnath 
 * Table of Contents:
    01. Feature Title CSS
    02. Feature Item CSS

*/

/* -----------------------Feature Section CSS Start--------------*/
.feature-area {
  background: var(--bgColor);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-area .feature-area-wrapper {
  width: 80%;
  margin: 40px 0;
}

.feature-area .feature-area-wrapper .feature-area-text {
  width: 500px;
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
}

.feature-area .feature-area-wrapper .feature-area-text .title {
  font-weight: 300;
  font-size: 40px;
}

.feature-area .feature-area-wrapper .feature-area-text .sponser {
  font-size: 38px;
  font-weight: 600;
}

.feature-area .feature-area-wrapper .feature-area-text p {
  line-height: 30px;
  margin-top: 15px;
}
.feature-items-wrapper {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;
}

.single-feature-item {
  background: white;
  border-radius: 0px 0px 10px 10px;
  width: 280px;
  padding: 25px;
  position: relative;
  box-shadow: rgb(6 57 60 / 14%) 0px 4px 20px 0px;
  z-index: 2;
}

.twis-items {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.single-feature-item:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--cyanColor);
  border-radius: 30px 30px 0 0;
  z-index: -2;
}

.single-feature-item:nth-child(3):after {
  background: var(--blueColor);
}

.twis-items .single-feature-item:nth-child(1):after {
  background: var(--redColor);
}

.twis-items .single-feature-item:nth-child(2):after {
  background: var(--orangeColor);
}

.single-feature-item .feature-item-text .title {
  font-size: 18px;
  margin-bottom: 15px;
}

.single-feature-item .feature-icon {
  text-align: right;
  margin-top: 30px;
}
/* -----------------------Feature Section CSS End--------------*/
